<nav>
  <div class="logo">
      Logo</div>
  <input type="checkbox" id="click">
  <label for="click" class="menu-btn">
      <i class="fas fa-bars"></i>
  </label>
  <ul>
      <li><a class="active" href="#">Home</a></li>
      <li><a routerLink="missing-people-component">Missing people</a></li>
      <li><a routerLink="news-component">News</a></li>
      <li><a routerLink="aboutus-component">About us</a></li>
      <li><a routerLink="feedback-component">Feedback</a></li>
      
  </ul>
</nav>
<router-outlet></router-outlet>